@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*{
  margin:0;
  padding:0;
  
}
body{
  /* background-image: url('https://media.discordapp.net/attachments/1091126083895693312/1126869325001789537/morganmoskalyk_a_metal_hexagon_honeycomb_on_a_black_background_c2edab4c-7326-455d-b2bf-cef30e801edb.png?width=800&height=800'); */
  margin-top: 50px;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
  font-family: Arial;
}
.hexagon {
  position: absolute;
  width: 34.64px;
  height: 30px;
  background-color: black;
  clip-path: polygon(50% 0%, 85.36% 25%, 85.36% 75%, 50% 100%, 14.64% 75%, 14.64% 25%);
}
h4 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display:none;
}
.container {
  text-align: center;
}

button{
  position: relative;
  border: 5px black solid;
  background-color: transparent;
  cursor: pointer;
  /* color: white; */
  font-family: 'Caprasimo', cursive;
  font-size: 20px;
  width: 200px;
  height: 60px;
  padding: 10px;
  box-shadow: 4px 4px 0px 0px white;
  border-radius: 20px;
}

.fyvr12r5{
  margin: auto;
}
